@charset "UTF-8";
/**
 * seat.css
 *
 * Author: aKuad
 */

.seat-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

.seat-cell {
  max-width: 4cm;
  flex-grow: 1;
  cursor: pointer;
  border: none;
  border-right: 4px solid hsl(0, 0%, 40%);
  border-bottom: 4px solid hsl(0, 0%, 40%);
  margin: 1mm;
  padding: 0;

  text-align: center;

  transition: opacity 0.2s linear;
}
.seat-cell-edit {
  line-height: 2em;
  font-size: 2rem;
  font-weight: bold;
  height: 2em;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.5em;
}
.seat-cell-edit:hover {
  opacity: 0.6;
}
.seat-cell-result {
  padding: 1em 0 0.5em 0;
  box-sizing: content-box;
  min-height: 2em;
  cursor: default;
  font-size: 1rem;
}

.seat-cell-normal {
  background-color: hsl(240, 100%, 90%);
  background-image: url("../icons/normal.svg");
}
.seat-cell-priority {
  background-color: hsl(120, 100%, 90%);
  background-image: url("../icons/priority.svg");
}
.seat-cell-unused {
  background-color: hsl(0, 0%, 100%);
  background-image: url("../icons/unused.svg");
}
.seat-cell-none {
  background-color: hsl(0, 0%, 100%);
  background-image: url("../icons/none.svg");
}
