@charset "UTF-8";
/**
 * paper.css
 *
 * Author: aKuad
 */

.doc-title {
  display: block;
  width: 20cm;
  margin: 0 auto 1cm auto;
  border: none;
  outline: none;
  border-bottom: 3pt solid hsl(0, 0%, 40%);
  border-radius: 0;

  text-align: center;
  font-size: 2rem;
  line-height: 1.5em;
}
@media print {
  .doc-title:empty {
    display: none;
  }
}

.doc-desc {
  display: block;
  border: none;
  border-bottom: 3pt solid hsl(0, 0%, 40%);
  border-radius: 0;

  font-size: 1rem;
}
.doc-desc:empty {
  display: none;
}

.doc-table {
  border: 2pt solid #000;
  width: 6em;
  margin: 0.5cm auto 0 auto;
  padding: 0;

  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5em;
  text-align: center;
}
